* {
    margin: 0;
    padding: 0;
}

#fahad-imag {
    background: linear-gradient(rgba(0, 0, 0.5, 0.5), hsl(214, 100%, 50%)), url(IMAG/420.jpg);
    background-size: center;
    background-position: center;
    height: 100vh;
}

.logo {
    height: 150px;
    margin: 10px;
    padding: 10px;
    width: 150px;
    position: absolute;
    top: 2%;
    left: 2%;
}

.fahad-text {
    text-align: center;
    color: #fff;
    padding-top: 230px;
    font-family: "Bodoni MT Black", cursive;
}

.fahad-text h1 {
    font-size: 70px;
}

.fahad-text p {
    font-size: 25px;
    font-style: italic;
}

.fahadBtn {
    text-align: center;
}

.fahadBtn {
    margin: 70px auto 0;
}

.fahadBtn a {
    font-size: 20px;
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: colour 0.5s;
}

.fahadBtn a span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}

.fahadBtn a:hover span {
    width: 100%;

}

.fahadBtn a:hover {
    color: black;
}

#sideNav {
    font-weight: bold;
    width: 230px;
    height: 100vh;
    position: fixed;
    right: -230px;
    top: 0;
    background: hwb(214 4% 31%);
    z-index: 2;
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    background-color: rgb(5, 135, 211);
}

#manuBtn {
    width: 50px;
    height: 50px;
    background: #0a52af;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#manuBtn img {
    width: 70px;
    margin-top: -10px;
}

@media screen and (max-width: 770px) {
    .fahad-text h1 {
        font-size: 44px;
    }

    #manuBtn {
        right: 80px;
        top: 35px;
    }

    #sideNav {
        width: 305px;
    }

    .fahadBtn a {
        display: block;
        margin: 20px auto;
    }
}

#Features {
    width: 100%;
    padding: 70px 0;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}

.title-text p {
    margin: auto;
    font-size: 20px;
    color: #0a52af;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text h1 {
    font-size: 50px;
}

.title-text p::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#0a52af, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

@media screen and (max-width: 770px) {
    .title-text p::after {
        width: 50px;
        height: 35px;
        background: linear-gradient(#0a52af, #fff);
        position: absolute;
        top: -29px;
        left: 20px;
    }
}

.Features-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.Feature {
    flex-basis: 50%;
}

.Feature-img {
    flex-basis: 50%;
    margin: auto;
}

.Feature-img img {
    height: 600px;
    margin-right: -150px;
    width: 70%;
    border-radius: 10px;
}

.Feature h1 {
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: hsl(212, 100%, 50%);
}

.Feature-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.Feature-icon img {
    display: flex;
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 5px;
    background-color: #fff;
    /* outline: 3px solid hsl(0, 0%, 0%); */

}

.Feature-text p {
    padding: 0 20px;
    text-align: initial;
    font-size: 19px;
    font-family: Arial Bold;
}

@media screen and (max-width: 770px) {
    .title-text h1 {
        font-size: 35px;
    }

    .Feature {
        flex-basis: 100%;
    }

    .Feature-img {
        flex-basis: 90%;
    }

    .Feature-img img {
        width: 110%;
        height: 600px;
        margin-left: -100;
    }
}

#Products {
    width: 88%;
    padding: 80px;
    background: #efefef;
    ;
}

.product-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.singal-product {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}

.singal-product img {
    width: 100%;
    border-radius: 7px;
    margin: 3px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), hsl(214, 100%, 50%));
    opacity: 0;
    transition: 1s;
}

.singal-product:hover .overlay {
    opacity: 1;
}

.Product-desc {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: 1s;
}

hr {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 10px auto;
    width: 60%;
}

.Product-desc p {
    font-size: 14px;
}

.singal-product:hover .Product-desc {
    bottom: 40%;
    opacity: 1;
}

@media screen and (max-width: 770px) {
    .singal-product {
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .Product-desc p {
        font-size: 12px;
    }

    hr {
        margin: 5px auto;
    }
}

#testimonal {
    width: 100%;
    padding: 70px 0;
}

.testimonal-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonal-columes {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 20px 30px 90px #00968814;
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonal-columes p {
    font-size: 15px;
}

.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 20px;
}

.usre-info img {
    border-radius: 2px;
    width: 20px;
    margin-right: 20px;
    position: relative;
    top: 5px;
    margin-left: 10px;
    color: #009688;
    font-size: 20px;
}

.usre-info small {
    color: #009688;
}

.testimonal-columes:hover {
    transform: translateY(-10px);
}

@media screen and (max-width: 770px) {
    .testimonal-columes {
        flex-basis: 100%;
    }
}

#footer {
    position: relative;
    padding: 100px 0 20px;
    background-color: #efefef;
}

.footer-row {
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,
.footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right {
    text-align: right;
}

.footer-row h1 {
    margin: 10px 0;
}

.footer-row p {
    line-height: 35px;
}

.footer-right img {
    font-size: 20px;
    color: #009688;
    margin: 10px;
}

.w {
    width: 25px;
    margin: 0;
    padding: 0;

}

.footer-img {
    width: 970px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.social-links {
    text-align: center;
}

.social-links img {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
}
.social-links p{
    font-size: 25px;
    margin-top: 20px;
}
@media screen and (max-width: 770px){
.footer-left,
.footer-right {flex-basis:100% ;
    font-size: 14px;
}

}